.header {
  background-color: lightcyan;
}


h1 {
  font-size: 25px;
  text-align: center;
  font-family: "Optima", sans-serif;
  font-style: italic;
  
}

h3 {
  color: blueviolet;
  font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L", sans-serif;
  font-weight: 400;

}

.profile-pic {
  position: absolute; 
  top: 0px;
}

.details {
  text-align: center;
  position: relative;
  font-size: 15px;
}

.link {
  font-size: 12px;
  text-align: center
}

.middle {
  background-color: lightgoldenrodyellow;
  text-align: justify;
}

th {
  border: 1px inset #8c6b48;
}

table {
  text-align: center;
  margin: 20px auto;
}

td {
  border: 1px inset black;
  width: 300px;
}

footer {
 
  text-align: center;
  background-color: lightcyan;
  z-index: 5;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text],input[type=email],textarea {
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}